:root {
        --opaque: rgba(0,0,0,0.7);
        --text: white;
        --body-color: rgba(250,250,250,100);
        --fontsz-header: 1.3rem;
        --fontsz-titles: 1.2rem;
        --fontsz-rest: 1rem;
	--font:monospace;
}

body {
display: flex;
flex-direction: column;
background-color: var(--body-color);
}


a {
        text-decoration: none;
        color: var(--text);
	font-size: var(--fontsz-header);
	font-family: var(--font);
}

p{
	font-size: var(--fontsz-rest);
font-family: var(--font);
        color: var(--text);
}

h3{
font-family: var(--font);
font-size: var(--fontsz-titles);
        color: var(--text);
}


header {
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

/*
header > bottom a:hover{
opacity: 0.3;
}
*/

header > * {
display: flex;
flex: 1 1 auto;
align-items: center;
}

header > top{
justify-content: center;
padding-top: 2rem;
}


/*
boton-1{ 
display: flex;
position: relative;
margin-top: 30px;
cursor: pointer;
background-color: white;
width: 40px;
height: 40px;
border-radius: 100px;
margin-right: 35%;
justify-content: center;
align-self: flex-end;
align-items: center;
}

boton-1 > lines{
display:flex;
position: absolute;
height: 100%;
opacity:0.5;
transition: all 1s;
}

boton-2{ 
display: flex;
postion:absolute;
background-color: gray;
width: 30px;
height: 30px;
visibility: hidden;
border-radius: 100px;
opacity: 0;
transition: all 1s;
}

boton-1:focus > lines{
visibility: hidden;
opacity: 0
}

boton-1:focus ~ bottom{
opacity:1;
visibility: visible;
}

boton-1:focus >boton-2{
visibility: visible;
opacity:0.5;
}

boton-2:focus ~ bottom{
opacity:0
visibility: visible;
}

header > bottom{
opacity:0;
transition: all 1s;
padding-top: 2rem;
padding-bottom: 1rem;
visibility: hidden;
justify-content:  space-evenly;
}
*/

hero {
display: flex;
justify-content: center;
flex-direction: row;
min-height: 80vh;
}

gallery {
display: grid;
justify-content: center;
align-items: center;
align-self: center;
width: 100%;
max-width: 900px;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
grid-template-rows: auto;
grid-gap: 0.5rem;
}

entry > img {
display:flex;
position:absolute;
width: 100%;
height: 100%;
aspect-ratio: 1/1;
justify-content: center;
align-items: end;
}

entry {
display:flex;
position:relative;
width: 100%;
height: 100%;
aspect-ratio: 1/1;
background-color: gray;
justify-content: center;
align-items: end;
}

project{
        display:flex;
transition: height 0.7s;
width: 100%;
height: 25%;
justify-content: center;
align-items: center;
background-color: var(--opaque);
font-size: var(--fontsz-rest);
z-index:100;
}

entry:hover > project {
height: 100%;
}

/*
team{
display: flex;
flex-direction: column;
min-height: 80vh;
max-width: 1000px;
padding-top: 5rem;
align-self: center;
}

team > top {
display: flex;
height: 22vw;
width: 32vw;
min-width:320px;
min-height:220px;
align-self: center;
}

team > bottom{
display: flex;
flex-direction: column;
align-items: center;
padding: 3rem;
}

contact{
display: flex;
flex-direction: column;
min-height: 80vh;
max-width: 1000px;
padding-top: 5rem;
align-self: center;
align-items: center;
}

contact > *{
padding-top: 2rem;	
}

contact > a {
font-size: var(--fontsz-rest);
}

contact > a:hover {
opacity: 0.3;
}
*/

.debug {
border: 1px solid red;
}

.debug > * {
border: 1px solid blue;
}

#sketch {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
