:root {
        --opaque: rgba(0,255,0,0.05);
        --text: black;
        --body-color: white;
        --fontsz-header: 1.3rem;
        --fontsz-rest: 1rem;
	--font:monospace;
}

body {
display: flex;
flex-direction: column;
background-color: var(--body-color);
}


a {
        text-decoration: none;
        color: var(--text);
	font-size: var(--fontsz-header);
	font-family: var(--font)
}

p{
	font-size: var(--fontsz-rest);
font-family: var(--font);
}

header {
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

header > bottom a:hover{
opacity: 0.3;
}

header > * {
display: flex;
flex: 1 1 auto;
align-items: center;
}

header > top{
justify-content: center;
padding-top: 2rem;
}

header > bottom{
padding-top: 2rem;
padding-bottom: 1rem;

justify-content: space-evenly;
}

hero {
display: flex;
justify-content: center;
flex-direction: row;
min-height: 80vh;
}

gallery {
display: grid;
justify-content: center;
align-items: center;
align-self: center;
width: 100%;
max-width: 900px;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
grid-template-rows: auto;
grid-gap: 0.5rem;
}

entry {
display:flex;
width: 100%;
height: 100%;
aspect-ratio: 1/1;
background-color: gray;
justify-content: center;
align-items: end;
}

project{
        display:flex;
opacity:1;
transition: height 0.5s;
width: 100%;
height: 25%;
justify-content: center;
align-items: center;
background-color: var(--opaque);
font-size: var(--fontsz-rest);
}

project:hover, project:active {
height: 100%;
}

team{
display: flex;
flex-direction: column;
min-height: 80vh;
max-width: 1000px;
padding-top: 5rem;
align-self: center;
}

team > top {
display: flex;
height: 22vw;
width: 32vw;
min-width:320px;
min-height:220px;
align-self: center;
}

team > bottom{
padding: 3rem;
}


